<div class="skill fn-tab-panel">
<h2 class="tab__hdg">SKILL</h2>
<p class="tab__lead">My skill achieved through both client and private projects</p>
<ul class="skill__list">
<li>
<span>HTML5</span>
<img src="<%- imgPath %>skill/img-01.png" alt="" width="80" height="80">
</li>
<li>
<span>CSS3</span>
<img src="<%- imgPath %>skill/img-02.png" alt="" width="80" height="80">
</li>
<li>
<span>TypeScript</span>
<img src="<%- imgPath %>skill/img-03.png" alt="" width="80" height="80">
</li>
<li>
<span>React(Next.js)</span>
<img src="<%- imgPath %>skill/img-04.png" alt="" width="80" height="80">
</li>
<li>
<span>Vue(Nuxt.js)</span>
<img src="<%- imgPath %>skill/img-05.png" alt="" width="80" height="80">
</li>
<li>
<span>PHP</span>
<img src="<%- imgPath %>skill/img-06.png" alt="" width="80" height="80">
</li>
<li>
<span>Node.js</span>
<img src="<%- imgPath %>skill/img-07.png" alt="" width="80" height="80">
</li>
<li>
<span>Electron</span>
<img src="<%- imgPath %>skill/img-08.png" alt="" width="80" height="80">
</li>
<li>
<span>MySQL</span>
<img src="<%- imgPath %>skill/img-09.png" alt="" width="80" height="80">
</li>
<li>
<span>CMS</span>
<img src="<%- imgPath %>skill/img-10.png" alt="" width="80" height="80">
</li>
<li>
<span>Git</span>
<img src="<%- imgPath %>skill/img-11.png" alt="" width="80" height="80">
</li>
<li>
<span>RESTful API</span>
<img src="<%- imgPath %>skill/img-12.png" alt="" width="80" height="80">
</li>
<li>
<span>Design Tools</span>
<img src="<%- imgPath %>skill/img-13.png" alt="" width="80" height="80">
</li>
<li>
<span>GitLab CI & CD</span>
<img src="<%- imgPath %>skill/img-14.png" alt="" width="80" height="80">
</li>
<li>
<span>Linux</span>
<img src="<%- imgPath %>skill/img-15.png" alt="" width="80" height="80">
</li>
<li>
<span>Three.js</span>
<img src="<%- imgPath %>skill/img-16.png" alt="" width="80" height="80">
</li>
<li>
<span>Accessibility</span>
<img src="<%- imgPath %>skill/img-17.png" alt="" width="80" height="80">
</li>
<li>
<span>Regex</span>
<img src="<%- imgPath %>skill/img-18.png" alt="" width="80" height="80">
</li>
<li>
<span>DevOps</span>
<img src="<%- imgPath %>skill/img-19.png" alt="" width="80" height="80">
</li>
<li>
<span>Agile & Scrum development</span>
<img src="<%- imgPath %>skill/img-20.png" alt="" width="80" height="80">
</li>
</ul>

<div class="skill__note">
<ul class="skill__noteList">
<li>As for HTML5, EJS is used as a HTML templating engine</li>
<li>As for CSS3, SCSS is used as a superset of CSS</li>
<li>As for Node.js, Express is used as a library</li>
<li>My JS frameworks is the latest. E.g. as for Vue.js, Vue3 and Composition API</li>
<li>As for CMS, I have experience of WordPress, WebRelease, Movable Type, and Adobe AEM</li>
</ul>
</div>
</div>